h1 {
    text-align: center;
}

input {
    border: 2px solid black;
    width: 50%;
    margin-left: 20%;
    margin-right: 0%;
}

footer {
    color: white;
    background-color: black;
    height: 20%;

    text-align: center;
    margin-top: 10px;
}