li {
    list-style-type: none;
}

ul {
    border: 2px solid black;  
    margin-right: 20%;
    margin-left: 20%;  
    padding: 10px;
    text-align: center;
}

.buttonBack {
    text-align: center;
    font-size: 50px;
}